{%extends 'facultyDashboard.html'%}
{%block content%}
<div class="container">
    <form action="/faculty/updateGrade" method="POST">
        {%csrf_token%}
        <div class="row form-group">
            <label for="course_name">Course</label>
            <select name="course" id="course" class="form-control">
                {%for item in students%}
                <option value="{{item.course.name}}">{{item.course.name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="row form-group">
            <label for="stud">Student Name</label>
            <select name="name" id="stud" class="form-control">
                {%for item in students%}
                <option value="{{item.student.first_name}}">{{item.student.first_name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="row form-group">
            <label for="grade">Grade Awarded</label>
            <input type="text" name="grade" id="grade" class="form-control" required>
        </div>
        <input type="submit" value="Update Grade" class="btn btn-success">
    </form><br>    
</div>
{%endblock%}